body{
	background-image:url('../images/bg.jpg');
	background-repeat:no-repeat;
	background-size:cover;
}
.header{
	display:inline-block;
	font-size:40px;
	text-align:center;
	font-family:'Times New Roman';
	text-shadow: 1px 1px 20px green, 0 0 25px gray, 0 0 10px yellow;
	font-weight:bolder;
}
#headImg{
	width:110px;
	height:110px;
	border: 3px solid black;
	border-radius:60px;
}
.header:hover{
	text-decoration:underline;
	text-shadow: 1px 1px 50px green, 0 0 25px gray, 0 0 10px yellow;
}
div.box{
	display:inline-block;
	width:250px;
	background-color:white;
	border-radius:10px;
	text-align:center;
	padding:15px;
	margin:40px;
	font-size:25px;
	font-weight:bold;
	filter:opacity(85%);
	transition:2s;
}
div.box2{
	display:block;
	background-color:white;
	border-radius:10px;
	text-align:center;
	padding:15px;
	margin:40px;
	font-size:25px;
	font-weight:bold;
	filter:opacity(85%);
	transition:2s;
}
div.box:hover{
	filter:opacity(100%);
}
div.outerContainer{
	text-align:center;
}
div.container{
	text-align:center;
}
a{
	color:black;
	text-decoration:none;
}
div.contentPane{
	margin:50px;
	padding:15px;
	border-radius:10px;
	background-color:white;
	filter:opacity(85%);
	text-align:left;
	font-size:20px;
	overflow-x:scroll;
}
textarea{
	width:300px;
	height:200px;
	font-size:17px;
	border-radius:10px;
	resize:none;
	background-color:black;
	color:white;
	filter:opacity(100%);
}
input[type=text]{
	background-color:black;
	width:300px;
	padding:5px;
	color:white;
}
select{
	background-color:black;
	width:300px;
	padding:5px;
	color:white;
}
button{
	background-color:#696969;
	padding:10px;
	color:white;
	border: 1px solid #696969;
}
button:hover{
	background-color:#A6A6A6;
}
#er{
	color:red;
}
#gd{
	color:green;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
	font-size:20px;
}

.modal-body {padding: 2px 16px; font-size:20px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}
i.large {font-size: 5em; color: green}
i.small{font-size: 1.5em; color: white}